__pycache__/
.venv/
*.pyc
*.pyo
venv/


# Django / static
/staticfiles/
staticfiles/

# Node / frontend
/frontend/node_modules/
/frontend/dist/
/frontend/build/

# Env / secrets
.env
.env.*
!.env.example

# example env (safe to keep)
# .env.example (tracked)

# Python test / coverage
.pytest_cache/
htmlcov/
coverage.xml

# IDEs
.idea/
.vscode/
.DS_Store
